
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}


#calculator-form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 400px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-left: 5px;
}


#total-price {
    font-size: 18px;
    font-weight: bold;
    color: #E36414;
}
