* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#image-carousel {
  margin: 50px;
  margin-top: 100px;
  background-color: yellow;
  padding: 40px;
  border: 3px solid black;
}

.splide__slide img {
  width: 50dvw;
  height: 50dvw;
  margin-left: calc((100% - 50dvw)/2);
}
@media screen and (width >= 640px) {
  .splide__slide img {
      width: 100%;
      height: auto;
      margin-left: 0;
      aspect-ratio: 1/1;
  }
}
